## .gitignore
## Created: 2023-10-31

################################################################################
## Emacs

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*


################################################################################
## MacOS

.DS_Store
.AppleDouble
.LSOverride
.gitignore

Icon


._*



################################################################################
## EOF .gitignore